{extend name='admin@main'}
{block name="content"}
<form onsubmit="return false;" id="GoodsForm" data-auto="true" method="post" class='layui-form layui-card'
      autocomplete="off">
    <div class="layui-card-body think-box-shadow padding-left-40">
        <div class="layui-form-item layui-row layui-col-space15">
            <label class="layui-col-xs9 relative">
                <span class="color-green">名称</span>
                <input name="name" required class="layui-input" placeholder="请输入名称" value="{$info.name}">
                <input type="hidden" name="id" value="{$info.id}">
                <input type="hidden" name="_csrf_" value="{:systoken('edit')}">
            </label>
        </div>
        
        <!--<div class="layui-form-item layui-row layui-col-space15">-->
        <!--    <label class="layui-col-xs9 relative">-->
        <!--        <span class="color-green">标识</span>-->
        <!--        <input name="url" required class="layui-input" placeholder="请输入标识" value="{$info.name2}" readonly>-->
        <!--    </label>-->
        <!--</div>-->
        <!--<div class="layui-form-item layui-row layui-col-space15">-->
        <!--    <label class="layui-col-xs9 relative">-->
        <!--        <span class="color-green">名称</span>-->
        <!--        <input name="username" class="layui-input" placeholder="请输入名称" value="{$info.username}">-->
        <!--    </label>-->
        <!--</div>-->
         {if($info.py_status==2)}
        <div class="layui-form-item layui-row layui-col-space15">
            <label class="layui-col-xs9 relative">
                <span class="color-green">收款地址</span>
                <input name="usercode" class="layui-input" placeholder="请输入收款地址" value="{$info.usercode}">
            </label>
        </div>
        
        <div class="layui-form-item block">
            <span class="label-required-prev color-green">收款码</span>
            <p width="auto" class="text-left"><input name="ewm" type="hidden" value="{$info.ewm|default=''}"></p>
            <script> $('[name="ewm"]').uploadMultipleImage()</script>
            <p> 图片只能保存一张,更换请先删除</p>
        </div>
        
        {/if}
        
        <!--<div class="layui-form-item layui-row layui-col-space15">-->
        <!--    <label class="layui-col-xs9 relative">-->
        <!--        <span class="color-green">ico</span>-->
        <!--        <input type="hidden" name="ico" value="{$info.ico}" readonly>-->
        <!--        <img src="{$info.ico}" alt="" width="50">-->
        <!--    </label>-->
        <!--</div>-->
        <div class="layui-form-item layui-row layui-col-space15">
            <label class="layui-col-xs9 relative">
                <span class="color-green">最小金额</span>
                <input name="min" required class="layui-input" placeholder="请输入最小金额" value="{$info.min}">
            </label>
        </div>
        <div class="layui-form-item layui-row layui-col-space15">
            <label class="layui-col-xs9 relative">
                <span class="color-green">最大金额</span>
                <input name="max" required class="layui-input" placeholder="请输入最大金额" value="{$info.max}">
            </label>
        </div>
        <div class="layui-form-item layui-row layui-col-space15">
            <label class="layui-col-xs9 relative">
                <span class="color-green">手续费</span>
                <input name="pay_commission" required class="layui-input" placeholder="请输入手续费" value="{$info.pay_commission}">
                <p class="help-block">第三方收取的收费，如10%，填写 0.1</p>
            </label>
        </div>
        
        
         {if($info.py_status==3 || $info.py_status==1)}
        <div class="layui-form-item layui-row layui-col-space15">
            <label class="layui-form-item block relative">
                        <span class="color-green margin-right-10">通道类型</span>
                        <textarea style="min-height: 130px;line-height:16px" name="tondao_type"  class="layui-input">{$info.tondao_type}</textarea>
                        <p class="help-block">一行一个, 通道</p>
                    </label>
        </div>
       {/if}
        
        
        <div class="layui-form-item layui-row layui-col-space15">
            <label class="layui-form-item block relative">
                        <span class="color-green margin-right-10">银行设置/usdt类型设置</span>
                        <textarea style="min-height: 130px;line-height:16px" name="bank_code"  class="layui-input">{$info.bank_code}</textarea>
                        <p class="help-block">一行一个, 银行代码|银行名称</p>
                    </label>
        </div>
       
       
      
       
        
        
        <div class="layui-form-item layui-row layui-col-space15">
            <label class="layui-col-xs9 relative">
                <span class="color-green">{if $info.id==8}充值汇率率{elseif $info.id==10}银行卡号{else}商户号{/if}</span>
                <input name="mch_id" class="layui-input" placeholder="" value="{$info.mch_id}">
            </label>
        </div>
        <div class="layui-form-item layui-row layui-col-space15">
            <label class="layui-col-xs9 relative">
                <span class="color-green">{if $info.id==8}提现汇率{elseif $info.id==10 }开户真实姓名{else}商户密钥{/if}</span>
                <input name="secret" class="layui-input" placeholder="" value="{$info.secret}">
            </label>
        </div>

        {if($info.py_status == 1)}
        <div class="layui-form-item layui-row layui-col-space15">
            <label class="layui-col-xs9 relative">
                <span class="color-green">收款银行名称</span>
                <input name="yhmc" class="layui-input" placeholder="" value="{$info.yhmc}">
            </label>
        </div>
        <div class="layui-form-item layui-row layui-col-space15">
            <label class="layui-col-xs9 relative">
                <span class="color-green">收款银行卡号</span>
                <input name="bank_number" class="layui-input" placeholder="请输入名称" value="{$info.bank_number}">
            </label>
        </div>
        <div class="layui-form-item layui-row layui-col-space15">
            <label class="layui-col-xs9 relative">
                <span class="color-green">收款人名称</span>
                <input name="username" class="layui-input" placeholder="请输入名称" value="{$info.username}">
            </label>
        </div>
        <div class="layui-form-item layui-row layui-col-space15">
            <label class="layui-col-xs9 relative">
                <span class="color-green">开户行地址</span>
                <input name="dizhi" class="layui-input" placeholder="" value="{$info.dizhi}">
            </label>
        </div>
        {/if}
        
       
        
        
        <div class="layui-form-item text-center">
            <button class="layui-btn" type="submit">提交</button>
         
           <a href="/admin/index.html#/admin/pay/"> <button class="layui-btn layui-btn-danger"  type="button">取消</button></a>
        </div>

    </div>
</form>


{/block}