<form class="layui-form layui-card" action="{:request()->url()}"  data-auto="true" method="post" autocomplete="off">
    <div class="layui-card-body">
        <div class="layui-form-item">
            <label class="layui-form-label">名称</label>
            <div class="layui-input-block">
                <input type="hidden" name="group_id" value="{$group.id}">
                <input name="title" value='{$group.title|default=""}' placeholder="请输入方案组名称" class="layui-input">
                {:token()}
            </div>
        </div>
        <div class="layui-form-item layui-inline">
            <label class="layui-form-label">代理</label>
            <div class="layui-input-inline">
                <select name="agent_id" class="layui-select">
                    <option value="">选择代理</option>
                    {volist name="agents" id="agent"}
                    <option value="{$agent.id}" {if $group.agent_id == $agent.id} selected {/if}>{$agent.username}</option>
                    {/volist}
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">抢单次数</label>
            <div class="layui-input-block">
                <input name="order_num" value='{$group.order_num}' placeholder="请输入用户订单数量" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item set_order_box">
            <label class="layui-form-label">方案计划</label>
<!--            <div class="layui-inline">-->
<!--                <div class="layui-input-inline">-->
<!--                    <span class="layui-btn layui-btn-xs layui-btn-warm set_order">设置爆单</span>-->
<!--                </div>-->
<!--            </div>-->
        </div>
        {volist name="group_rule_list" id="item"}
        <div class="layui-form-item set_group_content">
            <input type="hidden" name="id" value="{$item.id}">
            <label class="layui-form-label"></label>
            <div class="layui-inline">
                <div class="layui-input-inline" style="width: 80px;">
                    <input type="number" name="order_num" value="{$item.order_num}" placeholder="第几单" autocomplete="off" class="layui-input">
                </div>
                <div class="layui-form-mid">单</div>
                <div class="layui-input-inline" style="width: 100px;">
                    <select name="order_type" class="layui-select order_type" lay-filter="order_type">
                        <option value="0" {if $item.order_type == 0} selected{/if}>默认模式</option>
                        <option value="1" {if $item.order_type == 1} selected{/if}>叠加模式</option>
                        <option value="2" {if $item.order_type == 2} selected{/if}>固定补单模式</option>
                    </select>
                </div>

                <!--选择默认模式-->
                <div class="layui-input-inline order_type_0" style="width: 100px;display: {if $item.order_type != 0} none {/if};">
                    <select name="order_price_type" class="layui-select order_price_type" lay-filter="order_price_type">
                        <option value="0" {if $item.order_price_type == 0} selected{/if}>余额比例%</option>
                        <option value="1"  {if $item.order_price_type == 1} selected{/if}>固定金额</option>
                    </select>
                </div>
                <!--选择默认模式->选择余额比例%-->
                <div class="layui-inline order_price_type_0" style="display: {if $item.order_type != 0 || $item.order_price_type != 0} none {/if};">
                    <div class="layui-input-inline" style="width: 80px;">
                        <input type="number" value="{$item.order_price_min|default=''}" name="order_price_min" placeholder="输入比例" autocomplete="off" class="layui-input">
                    </div>
                    <div class="layui-form-mid">-</div>
                    <div class="layui-input-inline" style="width: 80px;">
                        <input type="number" value="{$item.order_price_max|default=''}"  name="order_price_max" placeholder="输入比例" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <!--选择默认模式->选择固定金额-->
                <div class="layui-inline order_price_type_1" style="display: {if $item.order_type != 0 || $item.order_price_type != 1} none {/if};">
                    <div class="layui-input-inline" style="width: 80px;">
                        <input type="number" name="order_price" value="{$item.order_price|default=''}" placeholder="" autocomplete="off" class="layui-input">
                    </div>
                </div>


                <!--选择叠加模式-->
                <div class="layui-input-inline order_type_1" style="width: 80px;display: {if $item.order_type != 1} none {/if};">
                    <!--order_price_type=0 余额比例 -->
                    <input type="hidden" name="order_price_type" value="0" autocomplete="off" class="layui-input">
                    <input type="number" name="order_price" value="{$item.order_price|default=''}" placeholder="输入比例" autocomplete="off" class="layui-input">
                </div>

                <!--选择固定补单模式-->
                <div class="layui-input-inline order_type_2" style="width: 80px;display: {if $item.order_type != 2} none {/if};">
                    <!--order_price_type=1 固定金额 -->
                    <input type="hidden" name="order_price_type" value="1" autocomplete="off" class="layui-input">
                    <input type="number" name="order_price" value="{$item.order_price|default=''}" placeholder="金额" autocomplete="off" class="layui-input">
                </div>

                <!--佣金-->
                <div class="layui-inline">
                    <div class="layui-form-mid">佣金：</div>
                    <div class="layui-input-inline" style="width: 110px;">
                        <select name="commission_type" class="layui-select">
                            <option value="0" {if $item.commission_type == 0} selected{/if}>订单比例%</option>
                            <option value="1" {if $item.commission_type == 1} selected{/if}>固定金额</option>
                        </select>
                    </div>
                    <div class="layui-input-inline" style="width: 100px;">
                        <input type="number" value="{$item.commission_value|default=''}" name="commission_value" placeholder="" autocomplete="off" class="layui-input">
                    </div>
                </div>

                <!--触发等级-->
                <div class="layui-inline">
                    <div class="layui-input-inline" style="width: 120px;">
                        <select name="trigger_level" class="layui-select">
                            <option value="" >选择触发等级</option>
                            {volist name="levels" id="le"}
                            <option value="{$le.level}" {if $item.trigger_level === $le.level} selected {/if}>{$le.name}</option>
                            {/volist}
                        </select>
                    </div>
                </div>
                <!--冻结本金-->
                <div class="layui-inline">
                    <div class="layui-input-inline" style="width: 110px;">
                        <select name="freeze_principal" class="layui-select">
                            <option value="0" {if $item.freeze_principal == 0} selected {/if}>组合订单</option>
                            <option value="1" {if $item.freeze_principal == 1} selected {/if}>幸运订单</option>
                        </select>
                    </div>
                </div>
                <!-- 复制和删除本行数据-->
                <div class="layui-inline">
                    <div class="layui-input-inline" style="width: 100px;">
                        <div class="layui-form-mid del_set" style="cursor: pointer;" data-id="{$item.id}">
                            <span class="layui-icon layui-icon-delete"></span>
                        </div>
<!--                        编辑取消复制，复制会把更新的id复制进去-->
<!--                        <div class="layui-form-mid cope_set" style="cursor: pointer;">-->
<!--                            <span class="fa fa-clone"></span>-->
<!--                        </div>-->
                    </div>
                </div>
            </div>
        </div>
        {/volist}
        <div class="layui-form-item add_set_order">
            <label class="layui-form-label"></label>
            <div class="layui-inline">
<!--                <label class="layui-form-label"></label>-->
                <div class="layui-input-inline">
                    <span class="layui-btn layui-btn-sm layui-btn-normal add_set_order_btn">+</span>
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">绑定用户</label>
            <div class="layui-inline">
                <div class="layui-input-inline" style="width: 150px;">
                    <input type="text" name="username" placeholder="登录账号" autocomplete="off" class="layui-input">
                </div>
                <div class="layui-input-inline" style="width: 100px;">
                    <select name="user_type" class="layui-select"  lay-verify="">
                        <option value="">用户类型</option>
                        <option value="0">外部</option>
                        <option value="1">内部</option>
                    </select>
                </div>
                <div class="layui-input-inline" style="width: 150px;">
                    <input type="text" name="parent_name" placeholder="上级名称" autocomplete="off" class="layui-input">
                </div>
                <div class="layui-input-inline" style="width:100px;">
                    <select name="level" class="layui-select"  lay-verify="">
                        <option value="">用户等级</option>
                        {volist name="levels" id="le"}
                        <option value="{$le.level}" >{$le.name}</option>
                        {/volist}
                    </select>
                </div>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label"></label>
            <div class="layui-inline">
                <div class="layui-input-inline">
                    <button type="button" class="layui-btn layui-btn-sm layui-btn-normal s_user" lay-on="reload">搜索</button>
                </div>
            </div>
        </div>

        <!--穿梭框-->
        <div class="layui-form-item">
            <label class="layui-form-label"></label>
            <div class="layui-input-block select-user">

            </div>
        </div>

        <div class="layui-form-item layui-inline layui-hide">
            <label class="layui-form-label">开启状态</label>
            <div class="layui-input-inline">
                <select name="status" class="layui-select"  lay-verify="">
                    <option value="0" {if $group.status == 0} selected {/if}>关闭</option>
                    <option value="1" {if $group.status == 1} selected {/if}>开启</option>
                </select>
            </div>
        </div>
        <div class="layui-form-item layui-hide">
            <label class="layui-form-label">是否默认</label>
            <div class="layui-input-inline">
                <select name="is_default" class="layui-select"  lay-verify="">
                    <option value="0" {if $group.is_default == 0} selected {/if}>否</option>
                    <option value="1" {if $group.is_default == 1} selected {/if}>是</option>
                </select>
            </div>
        </div>
        <div class="layui-form-item layui-hide">
            <label class="layui-form-label">是否团队模式</label>
            <div class="layui-input-inline">
                <select name="is_team_mode" class="layui-select"  lay-verify="">
                    <option value="0" {if $group.is_team_mode == 0} selected {/if}>否</option>
                    <option value="1" {if $group.is_team_mode == 1} selected {/if}>是</option>
                </select>
            </div>
        </div>
        <div class="layui-form-item layui-hide">
            <label class="layui-form-label">是否共享</label>
            <div class="layui-input-inline">
                <select name="share" class="layui-select"  lay-verify="">
                    <option value="0" {if $group.is_share == 0} selected {/if}>否</option>
                    <option value="1" {if $group.is_share == 1} selected {/if}>是</option>
                </select>
            </div>
        </div>
    </div>
    <div class="hr-line-dashed"></div>
    <div class="layui-form-item text-center">
        <button class="layui-btn submit-btn" type='button'>提交</button>
        <button class="layui-btn layui-btn-danger" type='button' data-close>取消</button>
    </div>
    <script>
        $(function (){
            layui.use('form', function(){
                var form = layui.form;
                var transfer = layui.transfer;
                var html = `
                        <div class="layui-form-item set_group_content">
                            <label class="layui-form-label"></label>
                            <div class="layui-inline">
                                <div class="layui-input-inline" style="width: 80px;">
                                    <input type="hidden" name="id" value="">
                                    <input type="number" name="order_num" placeholder="第几单" autocomplete="off" class="layui-input">
                                </div>
                                <div class="layui-form-mid">单</div>
                                <div class="layui-input-inline" style="width: 100px;">
                                    <select name="order_type" class="layui-select" lay-filter="order_type">
                                        <option value="0" >默认模式</option>
                                        <option value="1" >叠加模式</option>
                                        <option value="2" >固定补单模式</option>
                                    </select>
                                </div>

                                <!--选择默认模式-->
                                <div class="layui-input-inline order_type_0" style="width: 100px;">
                                    <select name="order_price_type" class="layui-select order_price_type" lay-filter="order_price_type">
                                        <option value="0">余额比例%</option>
                                        <option value="1" >固定金额</option>
                                    </select>
                                </div>
                                <!--选择默认模式->选择余额比例%-->
                                <div class="layui-inline order_price_type_0">
                                    <div class="layui-input-inline" style="width: 80px;">
                                        <input type="number" name="order_price_min" placeholder="输入比例" autocomplete="off" class="layui-input">
                                    </div>
                                    <div class="layui-form-mid">-</div>
                                    <div class="layui-input-inline" style="width: 80px;">
                                        <input type="number" name="order_price_max" placeholder="输入比例" autocomplete="off" class="layui-input">
                                    </div>
                                </div>
                                <!--选择默认模式->选择固定金额-->
                                <div class="layui-inline order_price_type_1" style="display: none;">
                                    <div class="layui-input-inline" style="width: 80px;">
                                        <input type="number" name="order_price" placeholder="" autocomplete="off" class="layui-input">
                                    </div>
                                </div>


                                <!--选择叠加模式-->
                                <div class="layui-input-inline order_type_1" style="width: 80px;display: none;">
                                    <!--order_price_type=0 余额比例 -->
                                    <input type="hidden" name="order_price_type" value="0" autocomplete="off" class="layui-input">
                                    <input type="number" name="order_price" placeholder="输入比例" autocomplete="off" class="layui-input">
                                </div>

                                <!--选择固定补单模式-->
                                <div class="layui-input-inline order_type_2" style="width: 80px;display: none;">
                                    <!--order_price_type=1 固定金额 -->
                                    <input type="hidden" name="order_price_type" value="1" autocomplete="off" class="layui-input">
                                    <input type="number" name="order_price" placeholder="金额" autocomplete="off" class="layui-input">
                                </div>

                                <!--佣金-->
                                <div class="layui-inline">
                                    <div class="layui-form-mid">佣金：</div>
                                    <div class="layui-input-inline" style="width: 110px;">
                                        <select name="commission_type" class="layui-select">
                                            <option value="0" >订单比例%</option>
                                            <option value="1" >固定金额</option>
                                        </select>
                                    </div>
                                    <div class="layui-input-inline" style="width: 100px;">
                                        <input type="number" name="commission_value" placeholder="" autocomplete="off" class="layui-input">
                                    </div>
                                </div>

                                <!--触发等级-->
                                <div class="layui-inline">
                                    <div class="layui-input-inline" style="width: 120px;">
                                        <select name="trigger_level" class="layui-select">
                                            <option value="" >选择触发等级</option>
                                            {volist name="levels" id="le"}
                                            <option value="{$le.level}" >{$le.name}</option>
                                            {/volist}
                                        </select>
                                    </div>
                                </div>
                                <!--冻结本金-->
                                <div class="layui-inline">
                                    <div class="layui-input-inline" style="width: 110px;">
                                        <select name="freeze_principal" class="layui-select">
                                            <option value="0" >组合订单</option>
                                            <option value="1" >幸运订单</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="layui-inline">
                                    <div class="layui-input-inline" style="width: 100px;">
                                        <div class="layui-form-mid del_set" style="cursor: pointer;">
                                            <span class="layui-icon layui-icon-delete" data-id=""></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                `;
                var data = [];

                function get_users(params = {}){
                    $.post('{:url("get_users")}',params,function (res){
                        if(res.code == 1){
                            data = res.data;
                            transfer.render({
                                elem: '.select-user',
                                title: ['未选择', '已选择'],  //自定义标题
                                data: data,
                                showSearch: true,
                                width: 400, // 定义宽度
                                height: 300, // 定义高度
                                parseData: function(res){
                                    return {
                                        "value": res.id, // 数据值
                                        "title": res.username, // 数据标题
                                        "disabled": res.disabled,  // 是否禁用
                                        "checked": res.checked // 是否选中
                                    }
                                }
                                ,id: 'demo1'
                            });
                        }
                    })
                }
                get_users();
                //搜索
                $('.s_user').on('click',function (){
                    let data = {
                        "parent_name":$('input[name=parent_name]').val(),
                        "username":$('input[name=username]').val(),
                        "user_type":$('select[name=user_type]').val(),
                        "level":$('select[name=level]').val(),
                    };
                    get_users(data);
                })

                //提交
                $(document).on('click','.submit-btn',function (){
                    var data_arr = {
                        "title": $('input[name="title"]').val(),
                        "agent_id": $('select[name="agent_id"]').val() || '',
                        "order_num": $('input[name="order_num"]').val(),
                        "status": $('select[name="status"]').val(),
                        "is_default": $('select[name="is_default"]').val(),
                        "is_team_mode": $('select[name="is_team_mode"]').val(),
                        "is_share": $('select[name="share"]').val(),
                        "group_id": $('input[name="group_id"]').val(),
                    };


                    var set_params = {};
                    $('.set_group_content').each(function (k,v){
                        let arr = {};
                        arr['order_num'] = $(v).find('input[name="order_num"]').val();//第几单
                        arr['id'] = $(v).find('input[name="id"]').val();//id
                        arr['order_type'] = $(v).find('select[name="order_type"]').val();//订单模式
                        arr['commission_type'] = $(v).find('select[name="commission_type"]').val();//佣金类型
                        arr['commission_value'] = $(v).find('input[name="commission_value"]').val();//佣金
                        if(arr['commission_type'] == '0'){
                            arr['commission_value'] = arr['commission_value'] / 100;
                        }
                        arr['trigger_level'] = $(v).find('select[name="trigger_level"]').val();//触发等级
                        arr['freeze_principal'] = $(v).find('select[name="freeze_principal"]').val();//冻结本金
                        switch (arr['order_type']){
                            case '0':
                                arr['order_price_type'] = $(v).find('select[name="order_price_type"]').val();//订单价格类型
                                if(arr['order_price_type'] == '0'){
                                    let min_price = $(v).find('.order_price_type_0 input[name="order_price_min"]').val() / 100;
                                    let max_price = $(v).find('.order_price_type_0 input[name="order_price_max"]').val() / 100;
                                    arr['order_price'] = min_price + '-' + max_price;
                                }else if(arr['order_price_type'] == '1'){
                                    let price = $(v).find('.order_price_type_1 input[name="order_price"]').val();
                                    arr['order_price'] = price;
                                }
                                break;
                            case '1':
                                arr['order_price_type'] = $(v).find('.order_type_1 input[name="order_price_type"]').val();//订单价格类型
                                arr['order_price'] = $(v).find('.order_type_1 input[name="order_price"]').val() / 100;
                                break;
                            case '2':
                                arr['order_price_type'] = $(v).find('.order_type_2 input[name="order_price_type"]').val();//订单价格类型
                                arr['order_price'] = $(v).find('.order_type_2 input[name="order_price"]').val();
                                break;
                        }
                        set_params[k]= arr;
                    })

                    data_arr.set_params = set_params;
                    let ids = transfer.getData('demo1');

                    let bind_ids = [];
                    $.each(ids,function(index, value){
                        bind_ids.push(value['value']);
                    });
                    data_arr.bind_ids = bind_ids;
                    $.post('{:url("edit_group")}', data_arr,function (res){
                        layer.msg(res.info);
                        if(res.code == 1){
                            setTimeout(function (){
                                window.location.reload();
                            },2000)
                        }
                        return false;
                    })
                    // $.ajax({
                    //     type: "POST",
                    //     url: '{:url("add")}',
                    //     data: data_arr,
                    //     dataType: "json",
                    //     contentType: "application/json",
                    //     success: function(res){
                    //         console.log(res);
                    //     }
                    // });
                })


                //删除本行设置
                $(document).on('click','.del_set',function (){
                    let id = $(this).attr('data-id');
                    let that = $(this);
                    if(id){
                        var layer_index = layer.confirm('删除后不可恢复，你确定要删除吗？', {
                            btn: ['确定','取消'] //按钮
                        }, function(){
                            $.post('{:url("del_group_rule")}', {id:id},function (res){
                                layer.msg(res.info);
                                that.parent().parent().parent().parent().remove();
                                return false;
                            })
                        }, function(){
                            layer.close(layer_index);
                        });
                    }else{
                        that.parent().parent().parent().parent().remove();
                    }
                })

                //复制本行，取消复制，复制会重复id
                // $(document).on('click','.cope_set',function (){
                //     let clonedContent = $(this).parent().parent().parent().parent().clone();
                //     // 将克隆后的内容添加到另一个 div 中进行显示
                //     $('.add_set_order').before(clonedContent);
                //     window.form.render();
                // })

               //添加一行
                $(document).off('click', '.add_set_order_btn').on('click','.add_set_order_btn',function (){
                    $('.add_set_order').before(html);
                    window.form.render();
                })

                // 清空数据
                function clearInputData(parent){
                    parent.find('.order_price_type_0 input').val('');//清空
                    parent.find('.order_price_type_1 input').val('');//清空
                    parent.find('.order_type_1 .order_price').val('');//清空
                    parent.find('.order_type_2 .order_price').val('');//清空
                }
                function order_type_show_hide(parent,type){
                    switch (type){
                        //切换默认模式
                        case '0':
                            parent.find('.order_price_type_1').hide();//固定金额隐藏
                            parent.find('.order_type_1').hide();//选择叠模式隐藏
                            parent.find('.order_type_2').hide();//选择固定补单模式隐藏
                            parent.find('.order_price_type_0').show();//余额比例%显示
                            parent.find('.order_type_0').show();//余额比例%显示
                            break;
                        //切换叠加模式
                        case '1':
                            parent.find('.order_type_0').hide();
                            parent.find('.order_price_type_0').hide();
                            parent.find('.order_price_type_1').hide();
                            parent.find('.order_type_2').hide();
                            parent.find('.order_type_1').show();
                            break;
                        //切换固定补单模式
                        case '2':
                            parent.find('.order_type_0').hide();
                            parent.find('.order_price_type_0').hide();
                            parent.find('.order_price_type_1').hide();
                            parent.find('.order_type_1').hide();
                            parent.find('.order_type_2').show();
                            break;
                    }
                }

                form.on('select(order_price_type)', function(data){
                    let parent = $(this).parent().parent().parent().parent();
                    parent.find('.order_price_type_0 input').val('');
                    parent.find('.order_price_type_1 input').val('');
                    switch (data.value){
                        //切换默认模式
                        case '0':
                            parent.find('.order_price_type_0').show();
                            parent.find('.order_price_type_1').hide();
                            break;
                        //切换叠加模式
                        case '1':
                            parent.find('.order_price_type_0').hide();
                            parent.find('.order_price_type_1').show();
                            break;
                    }
                });

                //监听下拉选择框的选择事件
                form.on('select(order_type)', function(data){
                    let parent = $(this).parent().parent().parent().parent();
                    // 清空数据
                    clearInputData(parent);
                    switch (data.value){
                        //切换默认模式
                        case '0':
                            //设置默认第一项选中
                            let order_price_type = parent.find('.order_price_type')
                            form.val(order_price_type, {
                                'order_price_type': '0'
                            });
                            order_type_show_hide(parent,data.value);
                            break;
                        //切换叠加模式
                        case '1':
                            order_type_show_hide(parent,data.value);
                            break;
                        //切换固定补单模式
                        case '2':
                            order_type_show_hide(parent,data.value);
                            break;
                    }
                });

                // function ini(){
                //     $('.order_price_type_1').hide();//固定金额隐藏
                //     $('.order_type_1').hide();//选择叠模式隐藏
                //     $('.order_type_2').hide();//选择固定补单模式隐藏
                //     $('.order_price_type_0').show();//余额比例%显示
                // }
                // ini();
                window.form.render();
            });
        })
    </script>
</form>
