{extend name='main'}

{block name="button"}
{if auth("add")}
<button data-modal='{:url("add")}' data-width="75%" data-height="80%" data-title="添加方案组" class='layui-btn layui-btn-sm layui-btn-normal'>添加</button>
{/if}
{/block}
{block name="content"}

<div class="think-box-shadow">
    <form class="layui-form layui-form-pane form-search" action="{:request()->url()}" onsubmit="return false" method="get"
          autocomplete="off">

        <div class="layui-form-item layui-inline">
            <label class="layui-form-label">代理名称</label>
            <div class="layui-input-inline" style=" width: 100px;">
                <input name="agent" value="{$Think.get.agent|default=''}" placeholder="代理名称" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item layui-inline">
            <label class="layui-form-label">方案组名称</label>
            <div class="layui-input-inline">
                <input name="group_name" value="{$Think.get.group_name|default=''}" placeholder="方案组名称" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item layui-inline">
            <label class="layui-form-label">是否共享</label>
            <div class="layui-input-inline">
                <select name="is_share" class="layui-select">
                    <option value="" {if $is_share=== ''} selected {/if}>是否共享</option>
                    <option value="1" {if $is_share==="1"} selected {/if}>共享</option>
                    <option value="0" {if $is_share==="0"} selected {/if}>不共享</option>
                </select>
            </div>
        </div>
        <div class="layui-form-item layui-inline">
            <button class="layui-btn layui-btn-primary"><i class="layui-icon">&#xe615;</i> 搜 索</button>
        </div>
    </form>
    <table class="layui-table margin-top-10" >
        {notempty name='list'}
        <thead>
        <tr>
            <th class='list-table-check-td think-checkbox'>
                <label><input data-auto-none data-check-target='.list-check-box' type='checkbox'></label>
            </th>
            <th class='text-left nowrap'>编号</th>
            <th class='text-left nowrap'>名称</th>
            <th class='text-left nowrap'>代理名称</th>
            <th class='text-left nowrap'>抢单次数</th>
            <th class='text-left nowrap'>方案计划</th>
            <th class='text-left nowrap'>关联用户</th>
            <!--<th class='text-left nowrap'>开启状态</th>-->
            <!--<th class='text-left nowrap'>是否默认</th>-->
            <!--<th class='text-left nowrap'>是否共享</th>-->
<!--            <th class='text-left nowrap'>是否团队模式</th>-->
            <th class='text-left nowrap'>操作</th>
        </tr>
        </thead>
        {/notempty}
        <tbody>
        {foreach $list as $key=>$vo}
        <tr data-dbclick>
            <td class='list-table-check-td think-checkbox'>
                <label><input class="list-check-box" value='{$vo.id}' type='checkbox'></label>
            </td>
            <td class='text-left nowrap'>{$vo.id}</td>
            <td class='text-left nowrap'>{$vo.title|default=''}</td>
            <td class='text-left nowrap'>{$vo.agent}</td>
            <td class='text-left nowrap'>{$vo.order_num|default='0'}</td>
            <td class='text-left nowrap'>
                <a data-dbclick data-title="查看计划" data-width="70%;" data-height="60%；" class="layui-btn layui-btn-xs layui-btn-normal" data-modal="/admin/group/view_plan.html?id={$vo.id}">查看计划</a>
            </td>
            <td class='text-left nowrap'>
                <a data-dbclick data-title="查看用户" class="layui-btn layui-btn-xs layui-btn-normal" data-modal="/admin/group/view_group_users.html?id={$vo.id}">查看用户</a>
            </td>
            <!--<td class='text-left nowrap'>{$vo.status == 1 ? '是' : '否'}</td>-->
            <!--<td class='text-left nowrap'>{$vo.is_default == 1 ? '是' : '否'}</td>-->
            <!--<td class='text-left nowrap'>{$vo.is_share == 1 ? '是' : '否'}</td>-->
<!--            <td class='text-left nowrap'>{$vo.is_team_mode == 1 ? '是' : '否'}</td>-->
            <td class='text-left nowrap'>
                {if auth("edit")}
                <a data-dbclick class="layui-btn layui-btn-xs layui-btn-normal" data-title="编辑分组"
                   data-modal='{:url("edit_group")}?id={$vo.id}' data-width="75%" data-height="80%">修改</a>
                {/if}
                {if auth("remove")}
                <a class="layui-btn layui-btn-xs layui-btn-danger" data-confirm="确定要删除吗？"
                   data-action="{:url('del_group')}" data-value="id#{$vo.id}" data-csrf="{:systoken('del_group')}">删除</a>
                {/if}
                {if auth("copy")}
<!--                <a data-dbclick class="layui-btn layui-btn-xs layui-btn-warm" data-confirm="确定要复制吗？" data-value="id#{$vo.id}" data-title="复制"-->
<!--                   data-action="{:url('copy')}">复制</a>-->
                {/if}
            </td>
        </tr>
        {/foreach}
        </tbody>
    </table>
    {empty name='list'}<span class="notdata">没有记录哦</span>{else}{$pagehtml|raw|default=''}{/empty}
</div>
{/block}
