
{block name="content"}

<div class="think-box-shadow">
    <table class="layui-table margin-top-10" >
        {notempty name='list'}
        <thead>
        <tr>
            <th class="text-center">用户名</th>
            <th class="text-center">手机号</th>
            <th class="text-center">抢单信息</th>
            <th class="text-center">注册时间</th>
        </tr>
        </thead>

        {/notempty}
        <tbody>
        {foreach $list as $key=>$vo}
        <tr data-dbclick>
            <td class='text-left nowrap'>{$vo.username|default='-'}</td>
            <td class='text-left nowrap'>{$vo.tel|default='-'}</td>
            <td class='text-left nowrap'>
                抢单：{$vo.shuadan_status_name}<br/>
                {if($vo.single_control_status_name != '开启')}
                    单控：{$vo.single_control_status_name}<br/>
                {else}
                    单控： {$vo.order_min_bili}-{$vo.order_max_bili}%<br/>
                    开启单数：{$vo.enable_order_num}<br/>
                    固定佣金比例设置：{$vo.fixed_commission_bili}<br/>
                    固定商品金额设置：{$vo.fixed_order_amount}<br/>
                    固定抢单数量设置：{$vo.fixed_order_num}<br/>
                {/if}
            </td>
            <td class='text-left nowrap'>{$vo.addtime|default='-'}</td>
        </tr>
        {/foreach}
        </tbody>
    </table>
    {empty name='list'}<span class="notdata">没有记录哦</span>{else}{$pagehtml|raw|default=''}{/empty}
</div>
<script>window.form.render();</script>
{/block}