html {
  font-size: 22px;
}

body {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.page {
  /* max-height: 100vh;
  overflow: hidden; */
  font-size: 14px;
  color: #333;
  background-color: #fff;
}

.theme-bgc {
  background-color: #FF6124;
}

.theme-color {
  color: #FF6124;
}

.bgc-f3 {
  background-color: #f3f5f6;
}

.fxbt {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.color-fff {
  color: #fff;
}

.bar-tab .tab-item.active,
.bar-tab .tab-item:active {
  color: #F09A4C;
}

.scale-1px-b {
  position: relative;
  border: none;
}

.scale-1px-b:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  background: rgb(225, 227, 228);
  width: 100%;
  height: 1px;
  -webkit-transform: scaleY(0.5);
  transform: scaleY(0.5);
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0
}

.no-bdb {
  border-bottom: none;
}

.bar-nav .title {
  color: #303030;
  background-color: #fff;
}

.bar .button-link {
  color: #fff;
  left: 10px;
}

.bar .button-link .icon-left {
  font-size: 18px;
}

input::-webkit-input-placeholder,
input:-moz-placeholder,
input::-moz-placeholder,
input:-ms-input-placeholder {
  color: #999;
}

.tab-icon {
  width: 1rem;
  display: block;
  margin: auto;
}

.tab-icon-center {
  width: 1.72rem;
  margin-top: 3px;
}

.text-right {
  text-align: right;
}

.buttons-tab .button.active {
  color: #F09A4C;
  border-color: #F09A4C;
}

.bar-nav a.icon-left {
  color: #626262;
}

.bottom-btn {
  width: 90%;
  height: 45px;
  margin: 8px auto 0;
  color: #FFFFFF;
  font-size: 16px;
  background: #F09A4C;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 5%;
  bottom: 20px;
}

.poa-bottom {
  position: absolute;
  left: 5%;
  bottom: 20px;
}

.pr-15px {
  padding-right: 15px;
}

.justify-between {
  justify-content: space-between;
}
.bar .button-link{
  font-size: 14px;
  color: #F09A4C;
}
.bar .button.pull-right{
  margin-right: .5rem;
}
.pagination{
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FAFAFA;
  height: 40px;
  font-family: HelveticaNeue;
  font-size: 14px;
  color: #777777;
}
.pagination .total{
  margin-right: 8px;
}
.pagination .select select{
  width: 44px;
  height: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
  border-radius: 4px;
  border: .5px solid #c7c7c7;
}
.pagination .pre{
  margin-right: 5px;
}
.mt-175{
  margin-top: -1.75rem;
}
