.title-img {
  width: 3.2rem;
}

.index-page {
  font-size: 14px;
  color: #333;
  background-color: #F4F4F4;
}

.index-page .bar-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  color: #303030;
  background-color: #fff;
}

.bar-button {
  text-align: center;
  font-size: 12px;
  box-sizing: border-box;
  padding-bottom: 5px;
}

.bar-button>a {
  color: #fff;
}

.bar-button span {
  display: block;
  width: 1.5rem;
  margin: 5px auto -4px;
}

.mainfunc-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 15px;
  background-color: #fff;
}

.mainfunc-wrapper a {
  display: block;
  text-align: center;
  color: #777777;
  font-size: 16px;
}

.mainfunc-wrapper img {
  display: block;
  width: 1.3rem;
  margin: 0 auto 4px;
}

.notice-wrapper {
  width: calc(100% - 30px);
  height: 40px;
  margin: 0 auto 15px;
  background-color: #f3f5f6;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  box-sizing: border-box;
}

.notice-wrapper img {
  width: 1.8rem;
  margin-right: 10px;
}

#notice-swiper {
  width: 100%;
  height: 20px;
}

.notice-swiper {
  flex: 1;
  height: 20px;
  overflow: hidden;
}

.notice-arrow {
  color: #ccc;
  font-size: 16px;
}

a.notice-a {
  display: block;
  color: #333;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  height: 20px;
  width: 100%;
}

.ttl-wrapper {
  width: 100%;
  box-sizing: border-box;
  padding: 4px 15px 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ttl-wrapper img {
  width: 8rem;
}

.notice__wrap {
  width: 100vw;
  height: 2.3rem;
  background-color: #fff;
  overflow: hidden;
}

.notice__wrap--box {
  width: auto;
  height: 2rem;
  display: inline-block;
  white-space: nowrap;
}

.notice__wrap-item {
  background: #FDF4EA;
  border-radius: 50px;
  padding: 0 14px;
  height: 36px;
  margin-left: 15px;
  display: inline-block;
}

.notice__wrap-item:last-child {
  margin-right: 15px;
}

.notice__wrap-item img {
  width: 1rem;
  height: 1rem;
  border-radius: 100%;
  display: inline-block;
  margin-right: 8px;
  vertical-align: middle;
  margin-top: -2px;
}

.notice__wrap-item .text {
  white-space: nowrap;
  font-size: 14px;
  color: #777777;
  display: inline-block;
  margin-top: 7px;
}

.seticon__wrap {
  box-sizing: border-box;
  width: 100%;
  padding: 20px;
  background-color: #fff;
  margin-top: 10px;
}

.seticon__wrap--title {
  font-size: 18px;
  color: #000000;
  margin-bottom: 12px;
}

.seticon__wrap--content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.task__box {
  padding: 14px 8px 10px 8px;
  width: calc((100vw - 50px) / 2);
  height: 7.6rem;
  border-radius: 8px;
  position: relative;
  margin-bottom: 10px;
  position: relative;
}

.task__box .task-title {
  font-size: 22px;
  color: #F09A4C;
  display: flex;
  align-items: center;
}

.task__box:nth-child(1) {
  background-color: #F2F2F2;
}

.task__box:nth-child(2) {
  background-color: #FFEEC3;
}

.task__box:nth-child(3) {
  background-color: #FACBCC;
}

.task__box:nth-child(4) {
  background-color: #B8C2FA;
}

.task__box:nth-child(5) {
  background-color: #FBDBBA;
}

.task__box:nth-child(6) {
  background-color: #F6FCC6;
}


.task__box .task-title span {
  margin-left: 8px;
  color: #777777;
  font-size: 14px;
  margin-top: 2px;
}

.task__box .task__box--zz {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 2;
}

.task__box .task__box--zz>img {
  width: 1.4rem;
  margin: 46px auto 30px;
  display: block;
}

.unlock-btn {
  font-family: HelveticaNeue-Medium;
  font-size: 14px;
  color: #FFFFFF;
  width: 100px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  background: #F09A4C;
  border-radius: 4px;
  margin: auto;
}

.task-go {
  width: 2.0816rem;
  height: 1.12rem;
  background-color: #fff;
  border: 1px solid #000000;
  border-radius: 25px;
  color: #000000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.task-go span {
  margin: 0 2px;
}

.task-bottom-1 {
  width: calc(100% - 16px);
  height: 1rem;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding-left: 8px;
  color: #000;
  position: absolute;
  bottom: 10px;
  left: 8px;
  background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.2), rgba(199, 199, 199, 0.1));
  border-radius: 1rem;
}

.task-bottom-2,
.task-bottom-3 {
  width: 50%;
  position: absolute;
  right: 8px;
  color: #000;
  padding-right: 8px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  box-sizing: border-box;
  border-radius: 1rem;
  background: -webkit-linear-gradient(right, rgba(0, 0, 0, 0.2), rgba(199, 199, 199, 0.1));
}

.task-bottom-2 {
  bottom: calc(1rem + 18px);
}

.task-bottom-3 {
  bottom: calc((1rem + 8px) * 2 + 10px);
}

.member-news__wrap {
  width: 100vw;
  overflow: hidden;
  height: 138px;
  margin-left: -20px;
}

.member-news__wrap--scroll {
  display: inline-block;
  white-space: nowrap;
}

.member-news {
  display: inline-block;
  width: 118px;
  height: 138px;
  background: #FDF4EA;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 10px 8px 8px 8px;
  margin-left: 6px;
  position: relative;
}

.member-news:first-child {
  margin-left: 15px;
}

.member-news:last-child {
  margin-right: 15px;
}

.new {
  color: #777777;
}

.earnings {
  color: #232323;
}

.money {
  color: #FC364A;
  font-size: 18px;
  margin-top: 8px;
}

.user {
  position: absolute;
  left: 8px;
  bottom: 8px;
  right: 8px;
  height: 32px;
  background-color: #fff;
  border-radius: 32px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding: 0 8px;
  color: #2A2A2A;
}

.user img {
  width: 1rem;
  display: inline-block;
  margin-right: 8px;
}

.guide-box {
  width: calc((100vw - 50px) / 2);
  height: 82px;
  border: 1px solid #DEDEDE;
  border-radius: 16px;
  background-color: #fff;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding: 0 10px;
  margin-bottom: 10px;
}

.guide-box img {
  width: 2.2rem;
  margin-right: 8px;
}

.guide-title {
  color: #232323;
  font-size: 16px;
}

.guide-sub-title {
  color: #777777;
  font-size: 12px;
  line-height: 1.2;
}

.content {
  bottom: 30px;
}