.page {
  background-color: #EB5255;
}

.div {
  width: 100%;
  height: 100%;
  background: url(../image/bgbg.jpg) no-repeat center bottom/100%;
  background-color: #EB5255;
  position: relative;
}

.title1 {
  padding-top: 20px;
  font-family: HelveticaNeue-Medium;
  font-size: 20px;
  color: #FFFFFF;
  letter-spacing: 0;
  text-align: center;
  font-weight: 500;
}

.title2 {
  font-family: HelveticaNeue-Bold;
  font-size: 28px;
  color: #FFFFFF;
  letter-spacing: 0;
  text-align: center;
  margin: 8px auto;
}

.title3 {
  font-family: HelveticaNeue-Medium;
  font-size: 20px;
  color: #FFFFFF;
  letter-spacing: 0;
  text-align: center;
}

.btn {
  width: 60%;
  height: 45px;
  line-height: 45px;
  position: absolute;
  bottom: 50px;
  left: 20%;
  background: #F09A4C;
  border-radius: 4px;
  text-align: center;
  color: #fff;
  font-family: HelveticaNeue-Bold;
  font-size: 18px;
}

.qr-box {
  position: absolute;
  bottom: 140px;
  width: 100%;
  text-align: center;
}

.qr-title {
  font-family: HelveticaNeue;
  font-size: 14px;
  color: #FFFFFF;
  letter-spacing: 0;
  text-align: center;
  margin-bottom: 10px;
}

.qr-code {font-family: HelveticaNeue-Medium;
  font-size: 24px;
  color: #FFFFFF;
  letter-spacing: 0;
  text-align: center;}