.page {
  min-height: 100vh;
  width: 100vw;
  background-color: #fff;
  position: static;
  height: auto;
  padding-bottom: 20px;
}

.logo {
  display: block;
  width: 100%;
  margin: auto;
}

.login-sgin__wrap {
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-sgin__wrap .item-box {
  width: 33%;
  height: 50px;
  font-size: 26px;
  text-align: center;
}

.login-sgin__wrap .item-box.current {
  color: #F09A4C;
  position: relative;
}

.login-sgin__wrap .item-box.current:after {
  color: #F09A4C;
  position: absolute;
  bottom: 0;
  left: 20%;
  content: '';
  width: 60%;
  height: 4px;
  background-color: #F09A4C;
}

.form-wrapper {
  width: 90%;
  border-radius: 8px;
  margin: auto;
}

.form-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 2.3rem;
  background-color: #FBFBFB;
  border: 1px solid #DEDEDE;
  border-radius: 8px;
  box-sizing: border-box;
  padding: 0 16px;
  margin-top: 10px;
}

.form-input {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  font-size: 16px;
  border: none;
  background-color: #FBFBFB;
  margin-left: 8px;
}

.input-icon {
  width: 1.1rem;
}

input.form-input::-webkit-input-placeholder {
  color: #999;
}

input.form-input:-moz-placeholder {
  color: #999;
}

input.form-input::-moz-placeholder {
  color: #999;
}

input.form-input:-ms-input-placeholder {
  color: #999;
}

.flex-bet {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  border-radius: 0 0 8px 8px;
  overflow: hidden;
}

.felx-1 {
  flex: 1;
}

.verification-img {
  display: block;
  height: 58%;
  margin-right: 15px;
}

.login-btn,
.register-btn {
  width: 100%;
  height: 2.34666rem;
  display: block;
  text-align: center;
  background-color: #F09A4C;
  color: #fff;
  font-size: 20px;
  margin: 1.12rem auto 0;
  border: none;
  border-radius: 9px;
}

.go-register {
  width: 100%;
  height: 2.34666rem;
  line-height: 2.34666rem;
  display: block;
  text-align: center;
  color: #F09A4C;
  font-size: 16px;
  margin: 1.12rem auto 0;
  border: 1px solid #F09A4C;
  background-color: #f3f5f6;
  border-radius: 9px;
}

.bottom-func {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1rem auto 0;
}

.bottom-func>a {
  color: #333;
  font-size: 16px;
}

.ui-form-item.bdrs-b {
  /* border-radius: 0 0 8px 8px; */
  overflow: hidden;
  border: none;
  background-color: #fff;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.forget {
  color: #777777;
}

.ui-form-item-checkbox,
.ui-form-item-radio,
.ui-form-item-switch {
  display: -webkit-box;
  -webkit-box-align: center;
}

.ui-form-item {
  position: relative;
  /* font-size: 18px;
  height: 46px;
  line-height: 46px; */
  padding-right: 12px;
  padding-left: 12px;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
}

.ui-border-b:before {
  border-bottom: 1px solid #e9e9e9;
  content: '';
  display: block;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  -webkit-transform-origin: left bottom;
}

@media screen and (-webkit-min-device-pixel-ratio: 2) {
  .ui-border-b:before {
    -webkit-transform: scaleY(0.5);
  }
}

.ui-checkbox,
.ui-checkbox-s {
  display: inline-block;
  padding-left: 0.2rem;
}

.ui-form-item input[type="checkbox"],
.ui-form-item input[type="radio"] {
  padding-left: 0;
}

.ui-checkbox input,
.ui-checkbox-s input {
  display: inline-block;
  width: 25px;
  height: 1px;
  position: relative;
  overflow: visible;
  border: 0;
  background: none;
  -webkit-appearance: none;
  outline: none;
  margin-right: 8px;
  vertical-align: middle;
}

@font-face {
  font-family: "icon-checkbox";
  src: url(data:font/ttf;charset=utf-8;base64,AAEAAAAKAIAAAwAgT1MvMkeTZoUAAACsAAAAYGNtYXAADfKpAAABDAAAAUJnbHlmvr8KWAAAAlAAAAHcaGVhZAp1ldUAAAQsAAAANmhoZWEHPANzAAAEZAAAACRobXR4BzYBEgAABIgAAAAObG9jYQEcAZgAAASYAAAADG1heHAACAAoAAAEpAAAACBuYW1lGVKlzAAABMQAAAGtcG9zdDjZfHcAAAZ0AAAATAAEA34BkAAFAAACmQLMAAAAjwKZAswAAAHrADMBCQAAAgAGAwAAAAAAAAAAAAEQAAAAAAAAAAAAAABQZkVkAMDxAPEDAyz/LABcAywA1AAAAAEAAAAAAxgAAAAAACAAAQAAAAMAAAADAAAAHAABAAAAAAA8AAMAAQAAABwABAAgAAAABAAEAAEAAPED//8AAPEA//8PAQABAAAAAAAAAQYAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACACIAAAEyAqoAAwAHAAA3ESERJzMRIyIBEO7MzAACqv1WIgJmAAAAAgCA/6wDgAKsAAgAJAAAASIGEBYgNhAmEwEOASImLwEmNDc+Ah4BHwE3PgIyHgEXFhQCAJ/h4QE+4eE+/vsDCQkJBJMHBwMHBwgHAoL0AgYGBgYFAwcCrOH+wuHhAT7h/vj++wMEBAOTBxQHAwQBAQQDgvQCAwICAwIHFAAAAAACAOAADAMgAkwABwAnAAAAIgYUFjI2NA8BBg8BDgEiJi8BJi8BLgI+ATc2Mh8BNz4BMhYXFhQCd+6pqe6pfMACAgQCBQQFAgQCAmYDAwEBAwMHFAdVrwQJCQkDBwJMqe6pqe4rwAIBAgEBAQECAQJmAwcHBwcDBwdVrwQEBAQHEwAAAAACAHD/kAOQArAADwAeAAAAMh4CFRQOASIuATU0PgE3Ig4BFB4BMj4BNTQuAgG1lohjOmOpyKljOmPTbbhra7jauGs/a5UCkDpjiEtkqWNjqWRLiGNaa7jauGtruG1RlWs/AAAAAgDgAAADIAJAAAoAFgAAADIWFRQOASMiJjQkIgYUFjMyPgI1NAGW1JZFdkVqlgF37qmpdztqTS4CIJZqRXZFltS2qe6pLk1qO3cAAAEAAAABAADAaD3GXw889QALBAAAAAAA09GJuAAAAADT0sjgACL/kAOQArAAAAAIAAIAAAAAAAAAAQAAAyz/LABcBAAAIgBEA5AAAQAAAAAAAAAAAAAAAAAAAAIBdgAiBAAAgADgAHAA4AAAAAAAFABUAJYAyADuAAEAAAAFACgAAgAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAMAJYAAQAAAAAAAQAKAAAAAQAAAAAAAgAGAAoAAQAAAAAAAwAbABAAAQAAAAAABAAKACsAAQAAAAAABQAeADUAAQAAAAAABgAKAFMAAwABBAkAAQAUAF0AAwABBAkAAgAMAHEAAwABBAkAAwA2AH0AAwABBAkABAAUALMAAwABBAkABQA8AMcAAwABBAkABgAUAQNmb250ZWRpdG9yTWVkaXVtRm9udEVkaXRvciAxLjAgOiBmb250ZWRpdG9yZm9udGVkaXRvclZlcnNpb24gMS4wOyBGb250RWRpdG9yICh2MS4wKWZvbnRlZGl0b3IAZgBvAG4AdABlAGQAaQB0AG8AcgBNAGUAZABpAHUAbQBGAG8AbgB0AEUAZABpAHQAbwByACAAMQAuADAAIAA6ACAAZgBvAG4AdABlAGQAaQB0AG8AcgBmAG8AbgB0AGUAZABpAHQAbwByAFYAZQByAHMAaQBvAG4AIAAxAC4AMAA7ACAARgBvAG4AdABFAGQAaQB0AG8AcgAgACgAdgAxAC4AMAApAGYAbwBuAHQAZQBkAGkAdABvAHIAAAAAAgAAAAAAAAAyAAAAAAAAAAAAAAAAAAAAAAAAAAAABQAFAAABAgEDAQQBBQd1bmlGMTAwB3VuaUYxMDEHdW5pRjEwMgd1bmlGMTAz) format("truetype")
}

.ui-checkbox input:before,
.ui-checkbox-s input:before {
  font-family: "icon-checkbox" !important;
  font-size: 32px;
  line-height: 44px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  display: block;
  color: rgba(0, 0, 0, 0.5);
  content: "";
  color: #F09A4C;
  position: absolute;
  top: -22px;
  left: -4px;
  color: #dedfe0;
}

.ui-checkbox input:checked:before,
.ui-checkbox-s input:checked:before {
  content: "";
  color: #F09A4C;
}

.rember-password {
  font-size: 16px;
  margin-left: -8px;
  color: #777;
}

.ui-checkbox-s input:before {
  content: ""
}

.ui-checkbox-s input:checked:before {
  content: ""
}

.go-register-download {
  width: 40%;
  height: 1.9rem;
  line-height: 1.9rem;
  display: block;
  text-align: center;
  color: #fff;
  font-size: 20px;
  border: 1px solid #979797;
  border-radius: 8px;
  margin: 1.2rem auto 0;
  color: #777;
}
.bbh{
  color: #777;
  text-align: center;
  margin-top: 20px;
}
.download-now{
  color: #777777;
  font-size: 16px;
  margin-top: 10px;
  display: block;
}