{extend name='main'}

{block name="content"}
<style type="text/css" media="all">
    .layui-badge {
        height: 18px;
        line-height: 18px;
        margin: 2px;
    }
</style>
<div class="think-box-shadow">
    {include file='deal/order_list_search'}
    <table class="layui-table margin-top-15" >
        {notempty name='list'}
        <thead>
        <tr>
            <th class='text-center nowrap'>单号</th>
            <th class='text-center nowrap'>用户名</th>
            <th class='text-center nowrap'>卡单模式</th>
            <th class='text-center nowrap' >商品信息</th>
            <th class='text-center nowrap'>抢单信息</th>
            <th class='text-center nowrap'>用户余额</th>
            <th class='text-center nowrap'>用户评论</th>
            <!--<th class='text-center nowrap'>订单状态</th>-->

            <th class='text-center nowrap'>下单时间</th>
            <th class='text-center nowrap'>更新时间</th>
            <th class='text-center nowrap'>是否付款</th>
            <th class='text-center nowrap'>操作</th>
        </tr>
        </thead>
        {/notempty}
        <tbody>
        {foreach $list as $key=>$vo}
        <tr>
            <td class='text-center nowrap'>{$vo.id}</td>
            <!--用户名-->
            <td class='text-center nowrap'>
                {$vo.tel}
                <span style="margin-left:5px"></span>
                {if($vo.is_jia == 1)}
                <span class="layui-badge layui-bg-green">外部</span>
                {else}
                <span class="layui-badge layui-bg-blue">内部</span>
                {/if}
                <span class="layui-badge layui-bg-orange">{$vo.user_level}</span>
            </td>
            <!--卡单模式-->
            <td class='text-left nowrap'>
                <span style="color:red;">{$vo.mode_name}</span><br/>
                匹配金额：{$vo.order_min_price}-{$vo.order_max_price}<br/>
                佣金方式：{$vo.commission_type == 1 ? '固定金额' : '比例'}<br/>

                {if($vo.commission_type == 1)}
                固定佣金：{$vo.commission_value}<br/>
                {else}
                佣金比例：{$vo.commission_value}%<br/>
                {/if}
            </td>
            <td class='text-left nowrap'>
                <span style="width:200px;word-break:break-all; white-space: normal; ">
                    {$vo.goods_name}
                </span><br/>
                <span>{$vo.goods_price} × {$vo.goods_count} =</span> <span style="color: red;margin-left: 3px;">  {$vo.goods_price * $vo.goods_count}</span><br/>
                <span style="color: red;">当前佣金：{$vo.commission}</span>
                <!--                商品单价:{$vo.goods_price} <br/>-->
                <!--                商品数量：{$vo.goods_count}<br/>-->
                <!--                订单金额：{$vo.num}-->
            </td>
            <td class='text-left nowrap'>
                {:date("m-d",$vo.addtime)}
                第{$vo.today_dan}单
                <!--                {if(!$vo.grTitle)}-->
                <!--                第{$vo.today_dan}单-->
                <!--                {/if}-->
                <br>

                <!--                {if($vo.duorw > 0)}-->
                <!--                <span style="color:red;"> 任务进度:{$vo.completedquantity}/{$vo.duorw}</span><br/>-->
                <!--                {/if}-->

                <!--                {if($vo.grTitle)}-->
                <!--                <span style="color:red;"> 方案组进度:{$vo.group_rule_num}/{$vo.group_count}</span><br/>-->
                <!--                {/if}-->
                总价:{$vo.num}<br>
                总佣金：{$vo.commission}
            </td>
            <!--<td class='text-left nowrap'></td>-->
            <td class='text-left nowrap'>
                冻结：{$vo.user_freeze_balance}<br>
                抢单余额：{$vo.user_balance}<br>
                <span style="color:red;">
                当前余额：{$vo.balance}
                </span><br>
            </td>
            <td class='text-left nowrap'>
                用户评分：{$vo.pingfen}<br>
                <div style="max-height:100px;overflow-y:auto;overflow-x:hidden;word-wrap:break-word;white-space:normal;word-break:break-word;width: 150px;">用户评论：{$vo.pinglun}</div>
            </td>
            <!--<td class='text-center nowrap'>
                {switch $vo.status}
                {case 0}等待付款{/case}
                {case 1}完成付款{/case}
                {case 2}用户取消{/case}
                {case 3}强制付款{/case}
                {case 4}系统取消{/case}
                {case 5}订单冻结{/case}
                {/switch}
            </td>-->

            <!--<td class='text-left nowrap'>{$vo.user_freeze_balance}</td>-->
            <!--<td class='text-left nowrap'>{$vo.goods_name}</td>
            <td class='text-left nowrap'>{:config("currency")}{$vo.goods_price}</td>
            <td class='text-left nowrap'>{$vo.goods_count}</td>-->

            <!-- <td class='text-left nowrap'>{:config("currency")}{$vo.commission}</td>-->
            <!-- <td class='text-left nowrap'>VIP{$vo.level_id}</td>-->
            <td class='text-center nowrap'>
                {$vo.addtime|format_datetime}<br>
            </td>
            <td class='text-center nowrap'>
                {$vo.pay_time|format_datetime|default='-'}<br>
            </td>
            <!--<td class='text-left nowrap'>
                {$vo.endtime|format_datetime}
            </td>-->
            <td class='text-center nowrap'>
                {switch $vo.is_pay}
                {case 0}<a class="layui-btn layui-btn-xs layui-btn-primary">未付款</a>{/case}
                {case 1}<a class="layui-btn layui-btn-xs">已付款</a>{/case}
                {/switch}
            </td>
            <td class='text-center nowrap'>
                {if($vo.duorw > 0)}

                {if(time() < $vo.endtime)}
                <!--<a data-csrf="{:systoken('order_status')}" class="layui-btn layui-btn-xs layui-btn-danger"-->
                <!--   data-action="{:url('order_status')}" data-value="id#{$vo.id};status#5">冻结</a>-->


                <a data-csrf="{:systoken('do_user_order')}" class="layui-btn layui-btn-xs layui-btn"
                   data-action="{:url('do_user_order')}" data-value="id#{$vo.id};status#3">强制付款</a>


                <a data-csrf="{:systoken('qxs')}" class="layui-btn layui-btn-xs layui-btn-warm"
                   data-action="{:url('qxs')}" data-value="id#{$vo.id};status#4">取消订单</a>
                {else}
                <a data-csrf="{:systoken('order_status')}" class="layui-btn layui-btn-xs layui-btn"
                   data-action="{:url('order_status')}" data-value="id#{$vo.id};status#-2">解冻</a>
                {/if}
                {if $vo.status==1}
                <a data-dbclick class="layui-btn layui-btn-xs" data-title="资金流水"
                   data-modal="{:url('order_commission_list',['oid'=>$vo['id']])}">资金流水</a>
                {/if}


                {else}

                {if $vo.status==0}
                <a data-csrf="{:systoken('order_status')}" class="layui-btn layui-btn-xs layui-btn-danger"
                   data-action="{:url('order_status')}" data-value="id#{$vo.id};status#5">冻结</a>


                <a data-csrf="{:systoken('do_user_order')}" class="layui-btn layui-btn-xs layui-btn"
                   data-action="{:url('do_user_order')}" data-value="id#{$vo.id};status#3">强制付款</a>


                <a data-csrf="{:systoken('qxs')}" class="layui-btn layui-btn-xs layui-btn-warm"
                   data-action="{:url('qxs')}" data-value="id#{$vo.id};status#4">取消订单</a>
                {/if}
                {if $vo.status==1}
                <a data-dbclick class="layui-btn layui-btn-xs" data-title="资金流水"
                   data-modal="{:url('order_commission_list',['oid'=>$vo['id']])}">资金流水</a>
                {/if}
                {if $vo.status==5}
                <a data-csrf="{:systoken('order_status')}" class="layui-btn layui-btn-xs layui-btn"
                   data-action="{:url('order_status')}" data-value="id#{$vo.id};status#0">解冻</a>
                {/if}

                {/if}



            </td>
        </tr>
        {/foreach}
        </tbody>
    </table>

    {empty name='list'}<span class="notdata">没有记录哦</span>{else}{$pagehtml|raw|default=''}{/empty}

</div>
{/block}
